{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <section id="showcase" class="py-5" id="main-nav">
        <div class="primary-overlay text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <h1 class="display-2 mt-5 pt-5">
                            Reli Yetu Kwa Maendeleo Yetu.
                        </h1>
                        <p class="lead">Welcome to CRN Register System</p>

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
